nav :link {
  text-decoration: none;
}
nav :hover {
  background-color: crimson;
  color: orange;
}
/* Titre */
h3 {
  color: purple;
  font-size: 28px;
}
#dxx1 {
  position: relative;
  color: white;
}
#tit01 {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(-50%, -50%);
}
#tit01 :active {
  animation-duration: 15s;
  animation-name: mouvlp;
}
@keyframes mouvlp {
  from {
    margin-left: -180%;
    width: 300%;
  }

  to {
    margin-left: 200%;
    width: 100%;
  }
}
